.navBar {
  	display: flex;

	background-color: rgb(53, 121, 199);
	align-items: center; 
	padding: 0px 5px;
	height: 3.5rem;
}

.search {
	display: flex;
	justify-content: center;
}

.about {
	text-align: center;
}

.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0px 5px;
	height: 3.5rem;
}

